<!DOCTYPE HTML>
<html ng-app="app">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>FanNoFan</title>
   <link rel='stylesheet' id='bootstrap.min-css' href='./assets/bootstrap/css/bootstrap.min.css' type='text/css' media='all' />
   <link rel='stylesheet' id='ticcom-style-css' href='./assets/css/style.css' type='text/css' media='all' />
   <link rel='stylesheet' id='font-awesome.min-css' href='./assets/css/font-awesome.min.css' type='text/css' media='all' />
   <link rel="icon" href="assets/images/logo3.png" sizes="51x72" />
   <link rel="stylesheet" href="./assets/css/responsive.css">
   <style>
      .search-header {
         float: right;
      }
   </style>
</head>

<body data-rsssl=1 class="home blog">
   <div ng-include="'page/header.html'"></div>

   <div ng-view></div>

   <div class="modal fade" id="login" role="dialog" ng-controller="loginCtrl">
      <div class="modal-dialog modal-lg">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
               <form class="form-horizontal" action="/action_page.php">
                  <div class="form-group">
                     <label class="control-label col-sm-2" for="email">Email:</label>
                     <div class="col-sm-10">
                        <input type="text" ng-model="email_login" class="form-control" id="email" placeholder="Enter email" name="email">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2" for="psssword">Password:</label>
                     <div class="col-sm-10">
                        <input type="password" ng-model="psssword" class="form-control" id="psssword" placeholder="Enter password" name="psssword">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                           <label><input type="checkbox" name="remember"> Remember me</label>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" ng-click="login()"  class="btn btn-default">Login</button>
                     </div>
                  </div>
               </form>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>

   <div class="modal fade" id="sign-up" role="dialog">
      <div class="modal-dialog modal-lg">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Sign up</h4>
            </div>
            <div class="modal-body">
               <form class="form-horizontal" action="/action_page.php">

                  <div class="form-group">
                     <label class="control-label col-sm-2" for="email">Username:</label>
                     <div class="col-sm-10">
                        <input type="text" class="form-control" id="email" placeholder="Enter username" name="username">
                     </div>
                  </div>

                  <div class="form-group">
                     <label class="control-label col-sm-2" for="email-res">Email:</label>
                     <div class="col-sm-10">
                        <input type="email" class="form-control" id="email-res" placeholder="Enter email" name="email-res">
                     </div>
                  </div>

                  <div class="form-group">
                     <label class="control-label col-sm-2" for="email">Phone:</label>
                     <div class="col-sm-10">
                        <input type="phone" class="form-control" id="phone" placeholder="Enter phone" name="phone">
                     </div>
                  </div>

                  <div class="form-group">
                     <label class="control-label col-sm-2" for="pwd">Password:</label>
                     <div class="col-sm-10">
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                     </div>
                  </div>

                  <div class="form-group">
                     <label class="control-label col-sm-2" for="pwd">Password Confirm:</label>
                     <div class="col-sm-10">
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password confirm"
                           name="pwd-confirm">
                     </div>
                  </div>

                  
                  <div class="form-group">
                     <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Sign up</button>
                     </div>
                  </div>
               </form>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>


   <div ng-include="'page/footer.html'"></div>

</body>

<script src="./assets/js/angular.min.js"></script>
<script src="./assets/js/angular-route.min.js"></script>
<script type='text/javascript' src='./assets/js/jquery-3.4.1.min.js'></script>
<script src="./assets/js/app.js"></script>
<script type='text/javascript' src='./assets/bootstrap/js/bootstrap.min.js'></script>
<script src="./assets/js/script.js"></script>

</html>