<section class="clearfix" ng-container="categoryCtrl">
   <nav class="breadcrumbs">
      <div class="container">
         <span><span><a href="#/!">Home</a> >> <span> <span><a href="#/!">Category</a> >> <span> <a href="">Ceiling Fans</a> >> </span></span></span>
         <h1 class="title-post">Ceiling Fans</h1> {{ page }}
      </div>
   </nav>
   <div class="container">
      <div class="row">
         <div class="content detail col-xs-12 col-sm-12 col-md-9 col-md-push-3">
      
            <div class="item-product">
               <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="product in products track by $index">
                     <div class="list-item-product">
                        <a href="#!product/{{ product.id }}" title="{{ product.id }}" class="post-title">
                           <span class="blog-thumb">
                              <img width="600" height="448" src="{{ product.image }}"
                                 class="img-responsive center-block" alt="Quạt trần trang trí Hunter Soho 24277"> <span
                                 class="hover"></span>
                           </span>
                           <span class="post-title">{{ product.name }}  - <span class="sale">Sale {{ product.sale }}%</span></span>
                        </a>
                        <span class="price"><span style="text-decoration:line-through;">{{ product.price | currency }}</span> - {{ (product.price * ((100 - product.sale) / 100) ) | currency }}</span>
                     </div>
                  </div>
                  
                  
               </div>
            </div>

         </div>

         <div class="col-xs-12 col-sm-12 col-md-3 col-md-pull-9"> 
            <div class="categories ">
                <h3 class="blog-title ">Categories</h3>
                <ul>
                    <li ng-repeat="category in categories">
                        <i class="fa fa-check "></i>
                        <a href="#!category/{{ category.id }}">{{ category.name }}</a>
                    </li>
                </ul>
            </div>

            <div class="categories ">
                <h3 class="blog-title ">Sorting</h3>
                <ul>
                  <li>
                     <i class="fa fa-sort "></i>
                     <a href="">Manual sort</a>
                 </li>
                 <li>
                     <i class="fa fa-sort "></i>
                     <a href="">Automatic sort</a>
                 </li>
                 <li>
                     <i class="fa fa-sort "></i>
                     <a href="">Manual sort</a>
                 </li>
                 <li>
                     <i class="fa fa-sort "></i>
                     <a href="">Manual sort</a>
                 </li>
                 
                 <li>
                     <i class="fa fa-sort "></i>
                     <a href="">Special price to top</a>
                 </li>

                 <li>
                     <i class="fa fa-sort "></i>
                     <a href="">Special price to bottom</a>
                 </li>
                </ul>
            </div>

            <div class="tags mt-4 p-4 border">
                <h3 class="blog-title">Recent Tags</h3>
                <ul class="mt-4">
                    <li>
                        <a href="#" class="">dfre</a>
                    </li>
                    <li>
                        <a href="#" class="">Gahydwq</a>
                    </li>
                    <li>
                        <a href="#" class="">qeers</a>
                    </li>
                    <li>
                        <a href="#" class="">hysert</a>
                    </li>
                    <li>
                        <a href="#" class="">hjwsa</a>
                    </li>
                    <li>
                        <a href="#" class="">sumgr</a>
                    </li>
                    <li>
                        <a href="#" class="">nhyewq</a>
                    </li>
                    <li>
                        <a href="#" class="">njyra</a>
                    </li>
                    <li>
                        <a href="#" class="">laiuwa</a>
                    </li>
                    <li>
                        <a href="#" class="">loghw</a>
                    </li>
                    <li>
                        <a href="#" class="">mhyu</a>
                    </li>
                    <li>
                        <a href="#" class="">mojjs</a>
                    </li>
                    <li>
                        <a href="#" class="">suisq</a>
                    </li>
                    <li>
                        <a href="#" class="">bhyfgh</a>
                    </li>
                </ul>
            </div>

         </div>

      </div>

      <nav aria-label="Page navigation example" class="text-center">
         <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
         </ul>
      </nav>

   </div>
</section>