<section class="clearfix" ng-controller="homeCtrl">
   <div class="container">

      <div id="slide-banner-home" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
            <li data-target="#slide-banner-home-2" data-slide-to="1" class=""></li>
            <li data-target="#slide-banner-home-3" data-slide-to="2" class="active"></li>
         </ol>
         <div class="carousel-inner">
            <div class="item">
               <img alt="First slide" src="assets/banner/banner_1.jpg">
            </div>
            <div class="item active">
               <img alt="Second slide" src="assets/banner/banner_2.jpg">

            </div>
         </div>
         <a class="left carousel-control" onclick="event.preventDefault()" href="#slide-banner-home" data-slide="prev"><span
               class="glyphicon glyphicon-chevron-left"></span></a>
         <a class="right carousel-control" onclick="event.preventDefault()" href="#slide-banner-home" data-slide="next"><span
               class="glyphicon glyphicon-chevron-right"></span></a>
      </div>

      <div class="row ">
         <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="item-product">
               <div class="title default"><span>HOT PRODUCT</span></div>
               <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-3"  ng-repeat="(index, product) in hotProduct">

                     <div class="list-item-product">

                        <a href="#!product/{{ product.id }}" title="{{ product.name }}" class="post-title">

                           <span class="blog-thumb">
                              <img ng-src="{{ product.image }}" src="assets/images/2022big.jpg" class="img-responsive center-block"
                                 alt="Quạt trần BQ301" /> <span class="hover"></span>
                           </span>
                           <h2 class="post-title">{{ product.name }} - <span class="sale">Sale {{ product.sale }}%</span></h2>
                        </a>
                        <span class="price"><span>{{ product.price | currency }}</span> - {{ (product.price * ((100 - product.sale) / 100) ) | currency }}</span>
                     </div>
                  </div>
                  
               </div>
            </div>
            <div class="item-product">
               <div class="title default"><span>NEW PRODUCT</span></div>
               <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-3"  ng-repeat="(index, product) in newProduct">

                     <div class="list-item-product">

                        <a href="#!product/{{ product.id }}" title="{{ product.name }}" class="post-title">

                           <span class="blog-thumb">
                              <img width="960" height="450" ng-src="{{ product.image }}" src="assets/images/2022big.jpg" class="img-responsive center-block"
                                 alt="Quạt trần BQ301" /> <span class="hover"></span>
                           </span>
                           <h2 class="post-title">{{ product.name }} - <span class="sale">Sale {{ product.sale }}%</span></h2>
                        </a>
                        <span class="price"><span>{{ product.price | currency }}</span> - {{ (product.price * ((100 - product.sale) / 100) ) | currency }}</span>
                     </div>
                  </div>
               </div>
            </div>
            
            <div class="item-product">
               <div class="title default"><span>BEST SELLERS</span></div>
               <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-3"  ng-repeat="(index, product) in saleProduct">

                     <div class="list-item-product">

                        <a href="#!product/{{ product.id }}" title="{{ product.name }}" class="post-title">

                           <span class="blog-thumb">
                              <img width="960" height="450" ng-src="{{ product.image }}" src="assets/images/2022big.jpg" class="img-responsive center-block"
                                 alt="Quạt trần BQ301" /> <span class="hover"></span>
                           </span>
                           <h2 class="post-title">{{ product.name }} - <span class="sale">Sale {{ product.sale }}%</span></h2>
                        </a>
                        <span class="price"><span>{{ product.price | currency }}</span> - {{ (product.price * ((100 - product.sale) / 100) ) | currency }}</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
</section>