<section class="clearfix" ng-controller="detailCtrl">
  <nav class="breadcrumbs">
    <div class="container">
      <span
        ><span
          ><a href="#/!">Home</a> »
          <span
            ><a href="/san-pham/">Product</a> »
            <span
              >
              <span class="breadcrumb_last">{{ product.name }}</span></span
            ></span
          ></span
        ></span
      >
      <h1 class="title-post">{{ product.name }}</h1>
    </div>
  </nav>
  <div class="container">
    <div class="detail-product">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9">
              <div class="col-xs-12 col-sm-9 col-md-9 col-sm-push-3 col-md-push-3 avatar-pro">
                <img ng-src="{{ product.image }}"
                class="img-responsive center-block"
                alt="{{ product.name }}"
              />
              </div>
          
              <div class="col-xs-12 col-sm-3 col-md-3 col-sm-pull-9 col-md-pull-9 gallery">
                <span ng-repeat="image in product.gallery_image track by $index">
                  <img onclick="changeSrc(this)" class="" src="{{ image }}" alt="">
                </span>
                
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
              <div class="extra col-md-12">
                
                <h6>Price:</h6>
                <div class="price">
                  <span class="convert" style="font-size: 21px;"
                    >{{ product.price | currency }}</span
                  >
                </div>
                <h6>Sale Price:</h6>
                <div class="price-final">
                  <span class="">{{ (product.price * ((100 - product.sale) / 100) ) | currency }}</span>
                </div>
                <h6>Description:</h6>
                <ul class="type-product-position">
                  <li>
                    <b>Product Code: PRO0001</b>
                    <span class="vin"></span>
                  </li>
                  <li>
                    <b>Producer: FanNoFan</b>
                    <span></span>
                  </li>
                </ul>

                <h6>Quantity:</h6>
                <div style="margin-bottom: 20px">
                  <input
                    type="number"
                    name="quantity"
                    id=""
                    value="1"
                    min="0"
                  />
                </div>

                <a
                  href="#!cart"
                  class="btn btn-danger"
                  style="margin-bottom: 20px;"
                >
                  Add to cart
                </a>
              </div>
            </div>
          </div>
          <div class="title default"><span>Product details</span></div>
          <article class="post-content">
  
              <p>
                {{ product.descript }}
              </p>
            
            <p>Technical data:</p>

            <table
              class="table table-bordered"
              border="1"
              cellspacing="0"
              cellpadding="5"
            >

              <tbody>
                <tr ng-repeat="(key, value) in product.technicalData track by $index">
                  <td><strong>{{ key }}</strong></td>
                  <td>{{ value }}</td>
                </tr>
                
              </tbody>
            </table>
          
          </article>

          <div class="contact clearfix">
            <h3 class="section-title"><span>Contact the store </span></h3>
            <div class="contact-info clearfix">
              <p>
                <b>Address: </b>
                <span> 29H, Phương Liệt, Thanh Xuân, Hà Nội</span>
              </p>
              <p>
                <b>Phone: </b>
                <span>+84.0964.73.11.22</span>
              </p>
            </div>
            <!--/ contact-info-->
          </div>
          <div class="comments my-5">
                        <h3 class="blog-title ">Our Recent Comments</h3>
                        <div class="comments-grids mt-4">
                            <div class="media mt-4">
                                <img class="mr-3" src="assets/images/avatar-comment.png" alt="Generic placeholder image">
                                <div class="media-body comments-grid-right">
                                    <h4>Parker Moe</h4>
                                    <ul class="my-2">
                                        <li class="font-weight-bold">6 June 2018
                                            <i>|</i>
                                        </li>
                                        <li>
                                            <a href="#" class="font-weight-bold">Reply</a>
                                        </li>
                                    </ul>
                                    <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus quis tempor.
                                        Phasellus bibendum eu.</p>
                                    <div class="media mt-5">
                                        <a class="pr-3" href="#">
                                            <img src="assets/images/avatar-comment.png" alt="Generic placeholder image">
                                        </a>
                                        <div class="media-body comments-grid-right">
                                            <h4>Parker Moe</h4>
                                            <ul class="my-2">
                                                <li class="font-weight-bold">6 June 2018
                                                    <i>|</i>
                                                </li>
                                                <li>
                                                    <a href="#" class="font-weight-bold">Reply</a>
                                                </li>
                                            </ul>
                                            <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus quis
                                                tempor. Phasellus bibendum eu.</p>
                                        </div>
                                    </div>
                                    <div class="media mt-5">
                                        <a class="pr-3" href="#">
                                            <img src="assets/images/avatar-comment.png" alt="Generic placeholder image">
                                        </a>
                                        <div class="media-body comments-grid-right">
                                            <h4>Parker Moe</h4>
                                            <ul class="my-2">
                                                <li class="font-weight-bold">6 June 2018
                                                    <i>|</i>
                                                </li>
                                                <li>
                                                    <a href="#" class="font-weight-bold">Reply</a>
                                                </li>
                                            </ul>
                                            <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus quis
                                                tempor. Phasellus bibendum eu.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <img class="" src="assets/images/avatar-comment-f.png" alt="Generic placeholder image">
                                <div class="media-body comments-grid-right">
                                    <h4>Parker Moe</h4>
                                    <ul class="my-2">
                                        <li class="font-weight-bold">6 June 2018
                                            <i>|</i>
                                        </li>
                                        <li>
                                            <a href="#" class="font-weight-bold">Reply</a>
                                        </li>
                                    </ul>
                                    <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus quis tempor.
                                        Phasellus bibendum eu.</p>
                                    <div class="media">
                                        <a class="" href="#">
                                            <img src="assets/images/avatar-comment-f.png" alt="Generic placeholder image">
                                        </a>
                                        <div class="media-body comments-grid-right">
                                            <h4>Parker Moe</h4>
                                            <ul class="">
                                                <li class="font-weight-bold">6 June 2018
                                                    <i>|</i>
                                                </li>
                                                <li>
                                                    <a href="#" class="font-weight-bold">Reply</a>
                                                </li>
                                            </ul>
                                            <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus quis
                                                tempor. Phasellus bibendum eu.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <img class="" src="assets/images/avatar-comment.png" alt="Generic placeholder image">
                                <div class="media-body comments-grid-right">
                                    <h4>Parker Moe</h4>
                                    <ul class="">
                                        <li class="font-weight-bold">6 June 2018
                                            <i>|</i>
                                        </li>
                                        <li>
                                            <a href="#" class="font-weight-bold">Reply</a>
                                        </li>
                                    </ul>
                                    <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus quis tempor.
                                        Phasellus bibendum eu.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="leave-coment-form">
                        <h3 class="blog-title">Leave a Reply</h3>
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <input type="text" name="Name" class="form-control" placeholder="Name" required="">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <input type="email" name="Email" class="form-control" placeholder="Email" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea name="Message" class="form-control" placeholder="Your comment here..." required=""></textarea>
                            </div>
                            <div class="mm_single_submit">
                                <input type="submit" value="Post Comment">
                            </div>
                        </form>
                    </div>
          <div class="product-related item-product">
            <div class="title default"><span>Other products</span></div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="relativeProduct in relativeProducts">
                <div class="list-item-product">
                  <a
                    href="#!product/{{ relativeProduct.id }}"
                    title="{{ relativeProduct.name }}"
                    class="post-title"
                  >
                    <span class="blog-thumb">
                      <img
                        width="224"
                        height="224"
                        src="{{ relativeProduct.image }}"
                        class="img-responsive center-block"
                        alt=""
                      />
                      <span class="hover"></span>
                    </span>
                    <span class="post-title"
                      >{{ relativeProduct.name }} - <span class="sale">Sale {{ product.sale }}%</span></span
                    >
                  </a>
                  <span class="price" style="text-decoration: line-through;"
                    >{{ product.price | currency }}</span
                  ><br />
                  <span class="price">{{ (product.price * ((100 - product.sale) / 100) ) | currency }}</span>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
