<section class="clearfix" ng-controller="detailCtrl">
  <nav class="breadcrumbs">
    <div class="container">
      <span
        ><span
          ><a href="#/!">Home</a> »
          <span
            ><a href="/san-pham/">Product</a> »
            <span
              >
              <span class="breadcrumb_last">{{ product.name }}</span></span
            ></span
          ></span
        ></span
      >
      <h1 class="title-post">{{ product.name }}</h1>
    </div>
  </nav>
  <div class="container">
    <div class="detail-product">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9">
              <div class="col-xs-12 col-sm-12 col-md-9 col-md-push-3 avatar-pro">
                <img ng-src="{{ product.image }}"
                class="img-responsive center-block"
                alt="{{ product.name }}"
              />
              </div>
          
              <div class="col-xs-12 col-sm-12 col-md-3 col-md-pull-9 gallery">
                <span ng-repeat="image in product.gallery_image track by $index">
                  <img onclick="changeSrc(this)" class="" src="{{ image }}" alt="">
                </span>
                
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
              <div class="extra col-md-12">
                
                <h6>Price:</h6>
                <div class="price">
                  <span class="convert" style="font-size: 21px;"
                    >{{ product.price | currency }}</span
                  >
                </div>
                <h6>Sale Price:</h6>
                <div class="price-final">
                  <span class="">{{ (product.price * ((100 - product.sale) / 100) ) | currency }}</span>
                </div>
                <h6>Description:</h6>
                <ul class="type-product-position">
                  <li>
                    <b>Product Code: PRO0001</b>
                    <span class="vin"></span>
                  </li>
                  <li>
                    <b>Producer: FanNoFan</b>
                    <span></span>
                  </li>
                </ul>

                <h6>Quantity:</h6>
                <div style="margin-bottom: 20px">
                  <input
                    type="number"
                    name="quantity"
                    id=""
                    value="1"
                    min="0"
                  />
                </div>

                <a
                  href="#!cart"
                  class="btn btn-danger"
                  style="margin-bottom: 20px;"
                >
                  Add to cart
                </a>
              </div>
            </div>
          </div>
          <div class="title default"><span>Product details</span></div>
          <article class="post-content">
  
              <p>
                {{ product.descript }}
              </p>
            
            <p>Technical data:</p>

            <table
              class="table table-bordered"
              border="1"
              cellspacing="0"
              cellpadding="5"
            >

              <tbody>
                <tr ng-repeat="(key, value) in product.technicalData track by $index">
                  <td><strong>{{ key }}</strong></td>
                  <td>{{ value }}</td>
                </tr>
                
              </tbody>
            </table>
          
          </article>

          <div class="contact clearfix">
            <h3 class="section-title"><span>Contact the store </span></h3>
            <div class="contact-info clearfix">
              <p>
                <b>Address: </b>
                <span> 29H, Phương Liệt, Thanh Xuân, Hà Nội</span>
              </p>
              <p>
                <b>Phone: </b>
                <span>+84.0964.73.11.22</span>
              </p>
            </div>
            <!--/ contact-info-->
          </div>
          <div class="product-related item-product">
            <div class="title default"><span>Other products</span></div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="list-item-product">
                  <a
                    href="#!product/123"
                    title="Quạt trần cao cấp American Fans AF/166B"
                    class="post-title"
                  >
                    <span class="blog-thumb">
                      <img
                        width="224"
                        height="224"
                        src="assets/images/quat-tran-3-canh-cavania-dc-52812.jpg"
                        class="img-responsive center-block"
                        alt=""
                      />
                      <span class="hover"></span>
                    </span>
                    <span class="post-title"
                      >Quạt trần cao cấp American Fans AF/166B</span
                    >
                  </a>
                  <span class="price" style="text-decoration: line-through;"
                    >5.090.000 VNĐ</span
                  ><br />
                  <span class="price">4.790.000 VNĐ</span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="list-item-product">
                  <a
                    href="#!product/123"
                    title="Quạt trần đèn Mountain Air 38YFT-7056M"
                    class="post-title"
                  >
                    <span class="blog-thumb">
                      <img
                        width="600"
                        height="450"
                        src="assets/images/quat-tran-3-canh-go-hgp-52-dc3092-led.jpg"
                        class="img-responsive center-block"
                        alt=""
                      />
                      <span class="hover"></span>
                    </span>
                    <span class="post-title"
                      >Quạt trần đèn Mountain Air 38YFT-7056M</span
                    >
                  </a>
                  <span class="price" style="text-decoration: line-through;"
                    >4.890.000 VNĐ</span
                  ><br />
                  <span class="price">4.790.000 VNĐ</span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="list-item-product">
                  <a
                    href="#!product/123"
                    title="Quạt trần đèn Mountain Air 56YFA-1002"
                    class="post-title"
                  >
                    <span class="blog-thumb">
                      <img
                        width="534"
                        height="450"
                        src="assets/images/quat-tran-3-canh-go-pearl-60-brush-nickel.jpg"
                        class="img-responsive center-block"
                        alt="quat tran den mountain air 56yfa-1002"
                      />
                      <span class="hover"></span>
                    </span>
                    <span class="post-title"
                      >Quạt trần đèn Mountain Air 56YFA-1002</span
                    >
                  </a>
                  <span class="price" style="text-decoration: line-through;"
                    >4.900.000 VNĐ</span
                  ><br />
                  <span class="price">4.500.000 VNĐ</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
